
body{
	float: left;
	height: 100vw;
	width: 100vw;
	padding: 0px;
	margin:0px;
}

h1 {
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-size: 220px;
line-height: 190px;
font-weight: 500;
text-align: left;
color: white;

}

h2 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 68px;
	line-height: 78px;
	font-weight: 500;
}

h3 {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 500;
	text-align: center;
}

#topbox {
	position: relative;
	top: 0px; left: 0px;
	height: 850px;
	width: 100vw;
	background-color: black;
	float: left;
}

		#title{
			margin-top: 200px;
			margin-left: 23vw;
			height: 30vw;
			width: 54vw;
		}

		#taptype{
			margin-top: 10px;
			color: white;
			letter-spacing: 4px;
		}

.audiobox {
	position: relative;
	margin-top: -1px;
	height: 640px;
	width: 100vw;
	float: left;

			background: #000000;
			background: -moz-linear-gradient(top, #000000 0%, #FFFFFF 72%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #000000 0%,#FFFFFF 72%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #000000 0%,#FFFFFF 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}

		#youtubelink {
			margin-top: 80px;
			margin-left: 23vw;
			height: 30vw;
			width: 54vw;
			background-color: black;
/*			box-shadow: 0px 8px 20px;*/
		}

		#artTitle {
			margin-top: 30px;
			width: 54VW;
			margin-left: 23vw;
			text-align: left;
			/*font-style: italic;*/
		}

		#artistName {
			margin-top: -50px;
						width: 54VW;
			margin-left: 23vw;
			text-align: left;
			color: gray;
			/*text-transform: uppercase;*/
		}

#flora {
	height: 1100px;
}


.credits {

	position: relative;
	margin-top: -1px;
/*	height: 2000px;*/
	padding-top: 60px;
	padding-bottom: 100px;
	width: 100vw;
	float: left;
	background-color: black;
}

		#artistList {
			margin-top: 60px;
			color: white;
		}

		#names {
			margin-top: 60px;
			color: white;
			text-transform: uppercase;
			line-height: 90px;
			font-weight: 300;
			text-align: center;
		}

		#culture {
			margin-top: 60px;
			height: 40vw;
			width: 40vw;
			margin-left: 30vw; }

		#graham {
			margin-top: 60px;
			width: 40vw;
			margin-left: 30vw; }

		#thanks {
			margin-top: 100px;
			color: white;
			font-size: 12px;
		}


.fade {
/*	opacity: 0.0;*/
}

.red {
	position: fixed; 
	bottom: 30px;
	left: 30px;
	width: 5vw;
	z-index: 2000;
	opacity: 0.0;
}

.scout {
	position: fixed; 
	top: 30px;
	left: 30px;
	width: 5vw;
	z-index: 2000;
	opacity: 0.0;
}

.art {
	position: fixed; 
	top: 30px;
	right: 30px;
	width: 5vw;
	z-index: 2000;
	opacity: 0.0;
}

.show {
	position: fixed; 
	bottom: 30px;
	right: 30px;
	width: 5vw;
	z-index: 2000;
	opacity: 0.0;
}








